body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: bisque;
  font-family: "Alice", serif;
  color: #833214;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 55px;
  margin: 10px auto 0 auto;
}

h2 {
  font-size: 25px;
  margin: 10px auto 0 auto;
}

button {
  background-color: #ffb03a;
  color: #833214;
  font-size: 20px;
  font-family: "Alice", serif;
  margin: 5px 0px;
  padding: 8px;
  border: 6px solid #ffcb65;
  box-shadow: inset 0px 0px 30px 8px rgba(131, 50, 20, 0.25);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #fc9c23;
}

#game-board {
  width: 35vw;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #ffcb65;
  box-shadow: inset -10px 10px 20px 2px rgba(255, 240, 175, 0.5),
    inset 10px -10px 20px 1px rgba(131, 50, 20, 0.1);
  border-radius: 5%;
}

.col {
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cell {
  height: calc(81% / 3);
  border: solid #ffcb65;
  border-width: 0.5vw;
  background-color: #ffb03a;
  background-size: 8vw;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset -10px 10px 30px 2px rgba(131, 50, 20, 0.5);
  border-radius: 10%;
}

.cell:hover {
  cursor: pointer;
  background-color: #fc9c23;
}
